*{
    --color0  : #e5e7eb;
    --color1  : #6b7280;
    --color2  : #ffffff;
}
.div-shadow{
    box-shadow: 5px 5px 10px var(--color1),
                -5px -5px 10px var(--color2);
}
.form-shadow{
    box-shadow: 2px 2px 5px var(--color1),
                -2px -2px 5px var(--color2);
}
.input-shadow{
    box-shadow: inset 2px 2px 2px var(--color1),
                inset -2px -2px 2px var(--color2);
}
.button-shadow{
    box-shadow: 5px 5px 5px var(--color1),
                -5px -5px 5px var(--color2);
}
.button-shadow:hover{
    box-shadow: 2px 2px 5px var(--color1),
                -2px -2px 5px var(--color2),
                inset 2px 2px 5px var(--color1),
                inset 2px 2px 5px var(--color2);
}
.button-shadow-sm{
    box-shadow: 3px 3px 3px var(--color1),
                -3px -3px 3px var(--color2);
}
.button-shadow-sm:hover{
    box-shadow: 2px 2px 3px var(--color1),
                -2px -2px 3px var(--color2),
                inset 2px 2px 3px var(--color1),
                inset 2px 2px 3px var(--color2);
}
.option-shadow{
    box-shadow: inset 4px 4px 4px var(--color1),
                inset -4px -4px 4px var(--color2);
}
.option-shadow:hover{
    box-shadow: inset 1px 1px 1px var(--color1),
                inset -1px -1px 1px var(--color2);
}